@import '../../_settings/_variables.css';

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;

  a:link, a:visited {
    color: inherit;
    transition: all .3s;
    text-decoration: none
  }
}

/* theme */
.underline {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-grey-light-1);
}