@import '../../_settings/_variables.css';

.input {
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  padding-right: 0.5rem;
  transition: all .3s;
  border-radius: 3px;
  padding: 3px 7px;
  height: 31px;
}

/* Size */
.small {
  width: 10rem; 
}

.medium {
  width: 15rem; 
}

.large {
  width: 20rem; 
}

.full {
  width: 100%;
}

/* Theme */
.default {
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--color-grey-dark);
}

.rounded {
  color: inherit;
  background: none;
}

.login {
  border: 1px solid;
  background-color: var(--input-login-background);
  border-color: #a88734 #9c7e31 #846a29;
}



