@import '../../_settings/_variables.css';

.product {
    background-color: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 1rem;
    border-radius: 3px;
    justify-content: space-between;
    
    &:not(:last-child){
        margin-bottom: 1.8rem;
    }

    .image {
        flex: 0 0 20%;
    }

    .info {
        flex: 0 0 75%;

        & > .section {
            margin-bottom: 0.3rem;

            &:last-of-type {
                margin-bottom: 2.2rem;
            }
        }

        .price {
            font-weight: 700;
        }
    }
}