@import '../../_settings/_variables.css';

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--grid-width);
    margin: 0 auto;

    & > .item {
        flex: 0 28%;
        margin-bottom: 1rem;
    }

    @media (--tab-land-viewport) {
        max-width: 100%;
        justify-content: space-evenly;
    }
}