@import '../../_settings/_variables.css';

.search {
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all .3s; 
    justify-content: space-between;
}

/* THEME */

.default {
    background-color: var(--white);

    &:focus-within {
        box-shadow: 0 0 0 2px var(--color-secondary),0 0 0 3px rgba(255,153,0,.5);
    }
}
